# Environment variables
.env
.env.*
*.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code settings (optional)
.vscode/

# Node modules (if frontend uses it)
node_modules/

# temp files
backend/app/temp_*
backend/app/*.wav
backend/app/*.webm

# data folder
backend/data/